<p>Flagged Cubes: {{$ctrl.board.getFlaggedCubes()}}</p>
<div class="board">
    <div class="cubeRow" ng-repeat="row in $ctrl.getSize() track by $index">
        <div class="cubeCell" ng-repeat="column in $ctrl.getSize() track by $index">
            <cube ng-click="$ctrl.openCube($parent.$index, $index)"
                ng-right-click="$ctrl.setFlag($parent.$index, $index)" cube="$ctrl.board.getCells()[$parent.$index][$index]"></cube>
        </div>
    </div>
</div>

<message ng-if="$ctrl.board.isGameEnded()" message="$ctrl.board.getGameState()" play-again="$ctrl.startGame()"></message>