.board {
    margin-top:50px;
    width:30%;
    margin-left:35%;
    display:grid;
    padding:0;
    grid-row-gap:initial;
    grid-column-gap:0px;
    justify-content: center;
    height:auto;
}

.board10 {
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

.board16 {
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
}

.board24 {
    grid-template-columns: repeat(24, 4.16666666%);
    grid-template-rows: repeat(24, 4.166666666%);
}

.nopadding {
    margin-top: 0;
    padding-top: 0;   
    margin-bottom: 0;
    padding-bottom: 0;   
}