.board {
    margin-top:50px;
    width:30%;
    margin-left:35%;
    display:grid;
    padding:0;
    grid-row-gap:initial;
    grid-column-gap:0px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    height:auto;
}

.nopadding {
    margin-top: 0;
    padding-top: 0;   
    margin-bottom: 0;
    padding-bottom: 0;   
}