@import '../components/cube/cube';
@import '../components/board/board';
@import './resets';
@import '../components/navbar/navbar';
@import '../components/message/message';

body, html {
  padding:0;
  margin:0;
}

$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}





